body {
  background-color: #a2bbdb;
  font-size: 20px;
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  background: #00ced1;;
  border-radius: 20%;
}

li{
  padding: 15px;
}

.class{
  text-align: center;
}