* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 40px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-items .nav-item {
  padding: 0px 25px;
}

.header .nav-items .nav-item a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

.header .nav-items .nav-item-cart {
  width: 24px;
  height: 24px;
}

.items {
  width: 100%;
}

.items .items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items .items-top .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 240px;
  margin: 7px;
  border: 1px solid #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .items-top .item .img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.items .items-top .item .words {
  color: #000;
  text-decoration: none;
  height: 90px;
  width: 95px;
  border: 1px solid #000;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  opacity: 0.5;
}

.items .items-top .item .words:hover {
  opacity: 0.9;
}

.items .items-top .item .words h1 {
  font-size: 2rem;
}

.items .items-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items .items-bottom .item-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px;
  height: 320px;
  width: 49%;
  border: 1px solid #000;
}

.items .items-bottom .item-b .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.items .items-bottom .item-b .img:hover {
  cursor: pointer;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.items .items-bottom .item-b .words {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  opacity: 0.5;
  width: 95px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
}

.items .items-bottom .item-b .words:hover {
  opacity: 0.9;
}

.items .items-bottom .item-b .words h1 {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */