* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-top: 10px;
  height: 50px;
  font-weight: lighter;
  color: #ffffff;
  background-color: black;
  display: flex;
  list-style: none;
}

li {
  margin: 10px;
}
