*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
}

.home{
    height: 900px;
}

.image{
    width: 100%;
    height: 300px;
    display: flex;
    .bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .pro{
        object-fit: cover;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 2;
        border-radius: 100%;
        margin-top: 200px;
        margin-left: 4%;
        border: 5px solid #ffffff;
    }
}

.side-nav{
    width: 300px;
    height: 600px;
    padding-top: 150px;
    background-color: rgb(255, 234, 207);
    .items{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .item{
            cursor: pointer;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
            a{
                color: #000000;
            }
        }
    }
}

.main{
    display: flex;
}

.about{
    width: 1095px;
    background-color: rgb(255, 255, 255);
    h1{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        margin: 5% 10% 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        a{
            color: #000000;
        }
        .edu{
            width: 90%;
            background-color: rgba($color: #ffeacf, $alpha: 0.3);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            h4{
                margin-top: 13px;
                margin-left: 15px;
                width: fit-content;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
            }
        }
        .work{
            display: flex;
            flex-direction: column;
            width: 90%;
            background-color: rgba($color: #ffeacf, $alpha: 0.3);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            h4{
                margin-top: 13px;
                margin-left: 15px;
                width: fit-content;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
            }
        }
    }
}

.skill{
    margin: 5% 10% 0 10%;
    height: 200px;
    background-color: rgba($color: #ffeacf, $alpha: 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    h4{
        margin-top: 13px;
        margin-left: 15px;
        width: fit-content;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
    .detail{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
    }
}

.gap{
    width: 100%;
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project{
    margin: 0 10%;
    height: 900px;
    h1{
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    p{
        margin: 20px 0;
    }
    a{
        display: flex;
        justify-content: flex-end;
    }
    img{
        width: 100%;
    }
}